{% load static %}

<div class="drawer-side border-r border-base-300 bg-base-100" style="padding-top: 70px">

    <label for="sidebar-toggle" class="drawer-overlay"></label>

    <ul class="menu p-4 w-72 min-h-full bg-base-100 text-base-content">

        <li class="menu-title">Dashboard</li>
        <li><a href="{% url 'dashboard' %}" class="font-medium">Overview</a></li>

        <li class="menu-title">Transportation</li>
        <li><a href="{% url 'carrier-list' %}">Carriers</a></li>
        <li><a href="{% url 'customer-list' %}">Customer</a></li>
        <li><a href="{% url 'driver-list' %}">Drivers</a></li>
        <li><a href="{% url 'route-list' %}">Routes</a></li>
        <li><a href="{% url 'calculation-list' %}">Calculations</a></li>
        <li><a href="{% url 'order-list' %}">Transport Orders</a></li>

        <li class="menu-title">Messaging</li>
        <li><a href="{% url 'conversation-list' %}">Messages</a></li>

        <li class="menu-title">Extras</li>
        <li><a href="{% url 'leasing' %}">Leasing</a></li>
        <li><a href="{% url 'salary' %}">Salary</a></li>
        <li><a href="{% url 'profit' %}">Profitability</a></li>

    </ul>

</div>
