{% extends 'base.html' %}
{% block title %}Customer{% endblock %}

{% block content %}
    <input
            type="text"
            placeholder="Search"
            class="input input-bordered w-full mb-4"
            autocomplete="off"
            data-live-search="customers"
    />




    <div class="max-w-4xl mx-auto">

        <h1 class="text-3xl font-bold mb-2">Customer</h1>

        <div class="flex mb-4">
            <a href="{% url 'customer-add' %}" class="btn btn-primary">
                + Add Customer
            </a>
        </div>

        <div class="space-y-4">
            {% for customer in customers %}
                <div class="bg-base-100 p-4 rounded shadow-sm border border-base-300"
                     data-live-group="customers"
                     data-live-item
                     data-search="{{ customer.name }} {{ customer.nip }} {{ customer.address }}"
                >
                    <p class="font-semibold text-lg">{{ customer.name }}</p>
                    <p class="text-sm text-gray-600">NIP: {{ customer.nip }}</p>
                    <p class="text-sm text-gray-600">{{ customer.address }}</p>

                    <div class="mt-3 space-x-2 ">
                        <a href="{% url 'customer-detail' customer.id %}" class="btn btn-sm">Details</a>
                        <a href="{% url 'customer-update' customer.id %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'customer-delete' customer.id %}" class="btn btn-sm btn-warning">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
