{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Freight Assistant{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>

<body class="bg-base-200 min-h-screen">

<div class="drawer lg:drawer-open">
    <input id="sidebar-toggle" type="checkbox" class="drawer-toggle"/>

    <div class="drawer-content flex flex-col">
        {% include "partials/navbar.html" %}
        <main class="pt-20">
            <div class="px-6 w-full max-w-4xl mx-auto">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    {% include "partials/sidebar.html" %}
</div>


{% django_browser_reload_script %}
</body>
{% block extra_js %} {% endblock %}
</html>
